@import '../../App.scss';

.about-page{
    height: 100%;
    .About{
        // height: 100%;
        background-color: $base-color;
        text-align: center;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
            font-size: 30px;
            font-family: 'font-3','main-font-ar';
            font-weight: 100;
            }
            .description-box{
                width: 50%;
                background: $text_primary-color;
                padding: 30px;
                margin-bottom: 20px;
            }
            .description{
                font-family: 'font-2';
                font-weight: 100;
                line-height: 30px;
            }
        }
    }
}